<h1>Add A New Genre</h1>
<%= form_for @genre do |f| %>

<%= f.label :name %>
<%= f.text_field :name %><br><br>

Add books to this genre:<br>
<%= f.fields_for :books, @genre.books do |book_fields| %>
  Title: <%= book_fields.text_field :title %><br><br>
  Genre: <%= book_fields.text_field :author %><br><br>
<% end %>

<%= f.submit %>

<%= f.submit %>
<% end %>
