<% if @author.errors.any? %>
  <%= @author.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<h1>Add A New Author</h1>
<%= form_for @author do |f| %>

<%= f.label :name %>
<%= f.text_field :name %><br><br>

Add books to this author:<br>
<%= f.fields_for :books, @author.books do |book_fields| %>
  Title: <%= book_fields.text_field :title %><br><br>
  Genre: <%= book_fields.text_field :genre %><br><br>
<% end %>

<%= f.submit %>
<% end %>
