<center>
  <h2>Reviews You Have Written</h2>
</center>

<% if @user.reviews.present? %>
  <% @user.reviews.each do |review| %>
    <h3>Title: "<%= link_to review.title, book_review_path(review.book, review.id) %>"</h3>
    <strong>Book:</strong> <%= link_to review.book.title, book_path(review.book) %><br>
    <strong>Stars: </strong><%= review.rating %><br>
    <strong>Content:</strong> <%= review.content %><br><br><br>
  <% end %>

  <h3>Your highest rated book(s):</h3>
    <% user_highest_rated_books(@user).each do |book| %>
      <li><%= link_to book.title, book_path(book.id) %></li>
    <% end %>

  <h3>Your lowest rated book(s):</h3>
    <% user_lowest_rated_books(@user).each do |book| %>
    <li><%= link_to book.title, book_path(book.id) %></li>
    <% end %>

<% else %>
  <center>
    Looks like you haven't written any reviews yet.
  </center>
<% end %>
