<h1>Reviews By You</h1>
<% @user.reviews.each do |review| %>
  <strong>Book:</strong> <%= link_to review.book.title, book_path(review.book) %> ||
  <strong>Title: </strong>"<%= review.title %>"</u></s> ||
  <strong>Stars: </strong><%= review.rating %><br><br>
  <strong>Content:</strong> <%= review.content %><br><br><br>
<% end %>

<h2>Your highest rated book:</h1>
  <% Book.highest_rated_books.by_user(@user).titles.each do |title| %>
    <%= link_to title, book_path(Book.find_by(title: title)) %>
  <% end %>

<h2>Your lowest rated book:</h1>
  <% Book.lowest_rated_books.by_user(@user).titles.each do |title| %>
  <%= link_to title, book_path(Book.find_by(title: title)) %>
<% end %>
