<h1>Welcome To The Great Listby</h1>

<% if @user %>
  <h2> Welcome <%= @user.email %> </h2>
  <h3>Get started by creating a new book list:</h3>
  <%= link_to "New Book List", new_book_list_path %><br>
  <h3>or add a new book to your collection:</h3>
  <%= link_to "New Book", new_book_path %><br>
  <h3>You Can also view all of the books, authors & genres in the Great Listby:</h3>
    <%= link_to "All Books", books_path %><br><br>
    <%= link_to "All Authors", authors_path %><br><br>
    <%= link_to "All Genres", genres_path %><br><br><br><br>
  <%= link_to("Logout", destroy_user_session_path, method: :delete) %>
<% else %>
  <%= link_to('Log in with Facebook!', user_facebook_omniauth_authorize_path) %><br>
  <%= link_to("Sign Up", new_user_registration_path) %><br>
  <%= link_to("Sign In", new_user_session_path) %>
<% end %>
