<h1>Edit <%= @book.title %></h1>
  Title: <%= @book.title %><br>
  Blurb: <%= @book.blurb %><br>
  Genre: <%= @book.genre_name %><br>
  Author: <%= @book.author_name %><br>

<%= form_for @book do |f| %>
  <%= f.label "Status" %><br>
  <%= f.select :book_features, [["Currently reading"], ["Already read"], ["In progress"]]%><br><br>

  <%= f.hidden_field :book_list_id, :value => @booklist.id %>
  <%= f.submit %>
<% end %>
