<%= render partial: 'layouts/errors', locals: {object: @book} %>

<h1>Update the status of: "<%= @book.title %>"</h1>
<strong>Title: </strong><%= @book.title %><br>
<strong>Genre: </strong><%= @book.genre_name %><br>
<strong>Author: </strong><%= @book.author_name %><br><br>

<%= render partial: 'book_status', locals: {book: @book, booklist: @booklist} %>
