<h1>Add A New Book</h1>
<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br><br>

  <%= f.label :blurb %>
  <%= f.text_area :blurb %><br><br>

  <%= f.label :date_started %>
  <%= f.date_field :date_started %><br><br>

  <%= f.label :genre_name %>
  <%= f.text_field :genre_name %>

  <%= f.label :author_name %>
  <%= f.text_field :author_name %>

  <%= f.submit %>
<% end %>
