<% if @book.errors.any? %>
  <%= @book.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<h1>Add A New Book To "<%= @booklist.title %>"</h1>
<%= form_for @book do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br><br>

  <%= f.label "What's it about?" %><br>
  <%= f.text_area :blurb %><br><br>

  <%= f.label "Genre" %><br>
  <%= f.text_field :genre_name %><br><br>

  <%= f.label "Author" %><br>
  <%= f.text_field :author_name %><br><br>

  <%= f.label "Status" %><br>
  <%= f.select :book_features, [["Currently reading"], ["Already read"], ["In progress"]]%><br><br>

  <%= f.hidden_field :book_list_id, :value => @booklist.id %>

  <%= f.submit %>
<% end %>
