<% if @book.errors.any? %>
  <%= @book.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<h1>Add A New Book</h1>
<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br><br>

  <%= f.label :blurb %>
  <%= f.text_area :blurb %><br><br>

  <%= f.label :date_started %>
  <%= f.date_field :date_started %><br><br>

  <%= f.label :genre_name %>
  <%= f.text_field :genre_name, :value => @book.genre.name %><br><br>

  <%= f.label :author_name %>
  <%= f.text_field :author_name, :value =>@book.author.name %><br><br>

  Select a book list to add this book to:<br>
  <%= f.collection_check_boxes :book_list_ids, @user.book_lists.all, :id, :title %><br><br>

  or create a new book list:
  <%= f.fields_for :book_lists, @book.book_lists.build do |book_list_fields| %>
      <%= book_list_fields.text_field :title %>
      <%= book_list_fields.hidden_field :user_id, :value => @user.id %>
    <% end %>

  <%= f.submit %>
<% end %>
