<% if @book.errors.any? %>
  <%= @book.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<h1>Add A New Book</h1>
<%= form_for @book do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br><br>

  <%= f.label "What's it about?" %><br>
  <%= f.text_area :blurb %><br><br>

  <%= f.label :date_started %><br>
  <%= f.date_field :date_started %><br><br>

  <%= f.label "Genre" %><br>
  <%= f.text_field :genre_name %><br><br>

  <%= f.label "Author" %><br>
  <%= f.text_field :author_name %><br><br>

  Select a book list to add this book to:<br>
  <%= f.collection_check_boxes :book_list_ids, @user.book_lists.all, :id, :title %><br><br>

  or create a new book list:<br>
  <%= f.fields_for :book_lists, @book.book_lists.build do |book_list_fields| %>
      <%= book_list_fields.text_field :title %><br><br>
      <%= book_list_fields.hidden_field :user_id, :value => @user.id %><br><br>
      <%= book_list_fields.fields_for :book_lists_books do |blb_fields| %>
      Status: <%= blb_fields.text_field :status %><br><br>
    <% end %>
<% end %>

  <%= f.submit %>
<% end %>
