<center>
  <h1><%= @book.title %></h1>
  Author: <%= link_to @book.author.name, author_path(@book.author) %> ||
  Genre: <%= link_to @book.genre.name, genre_path(@book.genre) %> ||
  <%= link_to "Reviews", book_reviews_path(@book) %>
  <hr>
</center>

<% if current_user && @book_on_booklist.present? %>
  <h3>This book appears on these book lists:</h3>
    <% @book_on_booklist.each do |book_list| %>
      <%= link_to book_list.title, book_list_path(book_list) %><br>
    <% end %>
<% end %>

<% if current_user && current_user.book_lists.present? %>
<h3>Add it to one of your book lists:</h3>
  <%= render partial: "booklistcollection", locals: {book: @book, user: @user} %>
<% end %>
<br>

<center>
  <%= link_to "Add A Review", new_book_review_path(@book.id) %>
</center>
