<strong><h2><%= @book.title %></h2></strong>
<p><%= @book.blurb %></p>
<h3>Author: <%= link_to @book.author.name, author_path(@book.author) %></h3>
<h3>Genre: <%= link_to @book.genre.name, genre_path(@book.genre) %></h3>

<% if @booklists.present? %>
  <h3>This book appears on these book lists:</h3>
    <% @booklists.each do |book_list| %>
      <%= link_to book_list.title, book_list_path(book_list) %><br>
    <% end %>
<% end %>

<% if current_user.book_lists.present? %>
<h3>Add it to one of your book lists:</h3>
  <%= render partial: "booklistcollection", locals: {book: @book, user: @user} %>
<% end %>

<% if @book.reviews.present? %>
  <h3>Reviews:</h3>
  <%= link_to "All reviews", book_reviews_path(@book) %><br><br>
  <% @book.reviews.each do |review| %>
    <li><%= link_to review.title, book_review_path(@book.id, review.id) %></li>
  <% end %>
<% end %>

<h3>Add A Review:</h3>
<%= link_to "Add A Review", new_book_review_path(@book.id) %>
