<h1><strong><%= @book.title %></strong></h1>
<h3>It's About:</h3>
<p><%= @book.blurb %></p>
<h3>Author:</h3>
<p><%= link_to @book.author.name, author_path(@book.author) %></p>
<h3>Genre:</h3>
<p><%= link_to @book.genre.name, genre_path(@book.genre) %></p>
<h3>Book List:</h3>
<% @book.book_lists.each do |book_list| %>
  <%= link_to book_list.title, book_list_path(book_list) %>
<% end %>
<h3>Date Started:</h3>
<p><%= @book.date_started %></p>
<h3>Status:</h3>
<%= @book.status %>
