<h1>Review for <%= link_to @book.title, book_path(@book) %></h1>
<h2>Title: <%= @review.title %></h2>
<h3>Stars: <%= @review.rating.to_s %></h3>
<p>Content: <%= @review.content %></p>
<% if @review.user_id == @user.id %>
  <%= link_to "Edit this review", edit_book_review_path(@book.id, @review.id) %> <br><br>
  <%= link_to "Delete this review", book_review_path(@book.id, @review.id), :method => "delete"  %>
<% end %>
