<nav>
  <center>
    <h1>
      <u> The Great Listby </u>
      </h1>
        <%= link_to "Home", root_path %> | <%= link_to "All Books", books_path %> | <%= link_to "All Authors", authors_path %> | <%= link_to "All Genres", genres_path %>
        <% if current_user %>
          | <a href="/users/<%= current_user.id %>/reviews">Your reviews</a> | <%= link_to "New Book List", new_book_list_path %>
        <% end %>
      <hr>
  </center>
</nav>
